<!DOCTYPE html>
<html>
<head>
	<title>Assignment 6</title>
</head>
<body>
	<h1>Translate English to Spanish</h1>
	<div class="container">
		<fieldset>
			<form action="/" method="post">
				Enter Text: <input type="textarea" name="source">
				<input type="submit" value="Submit">
			</form>
		</fieldset>
	</div>

	<div class="container">
		<h2>Translated text:</h2>
		<div id="targetLang"><%= target %></div>
	</div>
</body>
</html>