<!DOCTYPE html>
<html>
<head>
	
	<title>Sign Up</title>

	<link rel="stylesheet" type="text/css" href="/index.css">
</head>
<body>
	<div class="container">
		<fieldset>
			<h1>Sign Up</h1>
			<form action='/' method='post' id="accountCreation">
				<h2>Username</h2><input type='text' placeholder='Username' name="username"> <br>
				<h2>Password</h2><input type='text' placeholder='Password' name="password">
				<input type='submit' value='Create Account'>
			</form>
		</fieldset>
	</div>
</body>
</html>